.text-image {
    padding: 75px 0;
    background-color: $white;

    @include mq($md) {
        padding: 25px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    &__box {
        display: flex;
        flex-direction: row;
        gap: 200px;
        align-items: center;
        margin-bottom: 80px;
        width: 100%;

        @include mq($lg) {
            margin-bottom: 50px;
            flex-direction: column;
            gap: 15px;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            @include mq($lg) {
                flex-direction: column;
            }

            p {
                padding-left: 55px;

                @include mq($lg) {
                    padding-left: 0;
                }
            }
        }
    }

    &__content {
        max-width: 620px;
        width: 100%;

        p {
            font-size: 0.85rem;
            line-height: 1.65rem;
            letter-spacing: -0.01rem;
            font-family: $font-highlight;
        }
    }

    &__image {
        max-width: 440px;
        width: 100%;
    }
}