/*--------------------------------------------------------------
## Base Layout
--------------------------------------------------------------*/
html, body {
	@include font-smoothing(antialiased);
	height: 100%;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.container {
    width: 100%;
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 25px;

    &-small {
        max-width: 1070px;
        margin: 0 auto;
        padding: 0 25px;
        width: 100%;

        @include mq($md) {
            padding: 0 15px;
        }
    }

    @include mq($lg) {
        padding: 0 40px;
    }

    @include mq($md) {
        padding: 0 15px;
    }
}

a,
svg,
input,
textarea,
select,
button {
    transition: $dur $ease;
}

.content-area {
    position: relative;
}

body {
    &.scroll-disable {
        overflow: hidden;
    }
}