@font-face {
	font-family: "fonticons";
	src: url('assets/icons/fonticons.woff2') format('woff2'), url('assets/icons/fonticons.woff') format('woff'), url('assets/icons/fonticons.ttf') format('truetype');;
}

@mixin font-styles {
	font-family: "fonticons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == arrow-right {
		$char: "\E001";
	}
	@if $filename == arrow-small {
		$char: "\E002";
	}
	@if $filename == at {
		$char: "\E003";
	}
	@if $filename == cart-basic {
		$char: "\E004";
	}
	@if $filename == cart-plus {
		$char: "\E005";
	}
	@if $filename == cart {
		$char: "\E006";
	}
	@if $filename == close {
		$char: "\E007";
	}
	@if $filename == eye {
		$char: "\E008";
	}
	@if $filename == facebook {
		$char: "\E009";
	}
	@if $filename == filter {
		$char: "\E00A";
	}
	@if $filename == instagram {
		$char: "\E00B";
	}
	@if $filename == minus-solid {
		$char: "\E00C";
	}
	@if $filename == phone {
		$char: "\E00D";
	}
	@if $filename == pin {
		$char: "\E00E";
	}
	@if $filename == plus-solid {
		$char: "\E00F";
	}
	@if $filename == search {
		$char: "\E010";
	}
	@if $filename == star {
		$char: "\E011";
	}
	@if $filename == trash {
		$char: "\E012";
	}
	@if $filename == truck {
		$char: "\E013";
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

.font-arrow-right {
	@include font(arrow-right);
}
.font-arrow-small {
	@include font(arrow-small);
}
.font-at {
	@include font(at);
}
.font-cart-basic {
	@include font(cart-basic);
}
.font-cart-plus {
	@include font(cart-plus);
}
.font-cart {
	@include font(cart);
}
.font-close {
	@include font(close);
}
.font-eye {
	@include font(eye);
}
.font-facebook {
	@include font(facebook);
}
.font-filter {
	@include font(filter);
}
.font-instagram {
	@include font(instagram);
}
.font-minus-solid {
	@include font(minus-solid);
}
.font-phone {
	@include font(phone);
}
.font-pin {
	@include font(pin);
}
.font-plus-solid {
	@include font(plus-solid);
}
.font-search {
	@include font(search);
}
.font-star {
	@include font(star);
}
.font-trash {
	@include font(trash);
}
.font-truck {
	@include font(truck);
}
