.search-results {
    background-color: $gray;

    .search-results__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        grid-gap: 2rem;
        margin-top: 2rem;
      
        .search-result-item {
            background: $gray;
            border-radius: 12px;
        
            h3 {
                font-size: 1.25rem;
                margin-top: 1rem;
                color: $black;
                transition: $dur $ease;
            }
        
            p {
                margin-top: 0.5rem;
                color: $gray-dark;
                font-size: 0.95rem;
            }

            .search-result-thumbnail {
                overflow: hidden;
                border-radius: 20px;

                img {
                    width: 100%;
                    object-fit: cover;
                    transition: $dur $ease;
                    transform: scale(1);
                    max-height: 350px;
                }
            }

            @include hover {
                .search-result-thumbnail {
                    img {
                        transform: scale(1.05);
                    }
                }

                h3 {
                    color: $pale-brown;
                }
            }
        }
    }
    
    .pagination {
        margin: 50px 0;

        @include mq($md) {
            margin: 25px 0;
        }

        .nav-links {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .page-numbers {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 5px;
            width: 40px;
            height: 40px;
            padding: 10px;
            border: 1px solid rgba($black, 0.1);
            border-radius: 15px;
            transition: $dur $ease;

            &.current {
                background-color: $white;
                color: $pale-brown;
            }

            &.prev,
            &.next {
                width: fit-content;

                .font-arrow-small {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include mq($md) {
                        font-size: 14px;
                    }
                }
            }

            &.next {
                .font-arrow-small {
                    transform: rotate(180deg);
                }
            }
        }

        a.page-numbers {
            @include hover {
                background-color: $white;
                color: $pale-brown;
            }
        }
    }

    .no-results {
        background-color: $gray;
        padding: 50px 0;

        @include mq($md) {
            padding: 25px 0;
        }
    }
}

.search-no-results {
    .site-header {
        background-color: $gray;
    }

    .search-results {
        padding-top: 100px;

        @include mq($md) {
            padding-top: 25px;
        }
    }
}