/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	background-color: $black;
}

.site-footer__copyright {
	font-family: $font-main;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.35;
	color: $white;
}