/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	background-color: $black;

	a {
		color: $white;
	}

	&__bottom {
		background-color: $pale-brown;
		padding: 10px 0;

		&-box {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@include mq($md) {
				flex-direction: column;
			}
		}

		&-right {
			p {
				display: flex;
				align-items: center;
				color: $white;
				position: relative;
				padding-right: 128px;
				padding-top: 2px;

				a {
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
				}
			}
		}

		&-left {
			@include mq($md) {
				margin-bottom: 10px;
			}

			p {
				font-size: 14px;
				font-family: $font-main;
				color: $white;

				@include mq($md) {
					text-align: center;
				}
			}
		}
	}

	&__top {
		padding: 120px 0 103px;

		@include mq($md) {
			padding: 25px 0;
			text-align: center;
		}

		a {
			width: fit-content;

			&:hover {
				color: $pale-brown;
			}
		}

		&-box {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			@include mq($md) {
				flex-direction: column;
			}
		}

		&-left {
			max-width: 315px;
			width: 100%;
			margin-right: 100px;

			@include mq($lg) {
				margin-right: 50px;
				max-width: 275px;
			}

			@include mq($md) {
				max-width: 100%;
				margin-right: 0;
				width: 100%;

				img {
					margin: 0 0 25px;
				}
			}

			.contact-box {
				margin-top: 50px;
				display: flex;
				flex-direction: column;

				@include mq($md) {
					margin: 0 0 25px;
				}

				a {
					display: flex;
					align-items: center;

					span {
						font-size: 24px;
						margin-right: 10px;

						@include mq($md) {
							font-size: 18px;
						}
					}

					@include mq($md) {
						margin: 0 0 15px;
					}

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}

		&-right {
			display: flex;
			align-items: flex-start;
			position: relative;
			padding-bottom: 60px;

			@include mq($md) {
				justify-content: space-between;
				flex-wrap: wrap;
				padding-bottom: 0;
				width: 100%;
			}

			ul {
				margin-right: 109px;

				@include mq($lg) {
					margin-right: 25px;
				}

				@include mq($md) {
					margin-right: 0;
					width: calc(50% - 15px);
					text-align: left;
				}

				&:last-of-type {
					margin-right: 0;
				}

				li {
					margin-bottom: 20px;

					@include mq($md) {
						margin-bottom: 15px;
					}
				}
			}

			.social-box {
				position: absolute;
				bottom: 0;
				right: 65px;
				max-width: 95px;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				padding-top: 30px;
				justify-content: space-between;

				@include mq($md) {
					position: relative;
					right: 0;
					padding-top: 0;
					margin: 25px auto 0;
					width: 100%;
					padding-top: 25px;
					border-top: 1px solid $gray;
					max-width: 100%;
					justify-content: center;
				}

				&::after {
					content: '';
					position: absolute;
					top: 10px;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: rgba($white, 0.2);

					@include mq($md) {
						display: none;
					}
				}

				h5 {
					color: $white;
					font-size: 16px;
					margin-bottom: 15px;
					width: 100%;
				}

				a {
					max-width: 25px;
					width: 100%;

					@include mq($md) {
						margin: 0 15px;
					}

					span {
						font-size: 27px;
					}
				}
			}
		}
	}
}
