/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
	padding: 15px 0;
	position: sticky;
	z-index: 999;
	width: 100%;
	top: 0;
	left: 0;
	transition: $dur $ease;
	background-color: $white;
	border-bottom: 1px solid transparent;

	&.is-sticky {
		padding: 5px 0;
		border-bottom: 1px solid $black;
	}

	&__cart {
		display: flex;
		align-items: center;

		&-left {
			margin-right: 15px;
			cursor: pointer;

			span {
				color: $black;
				transition: $dur $ease;

				&:hover {
					color: $pale-brown;
				}
			}
		}
	}
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header__nav {
	display: flex;
	align-items: center;
}

.site-header__logo {
	display: block;
	max-width: 150px;
	width: 100%;

	img {
		width: 100%;
	}

	@include mq($sm + 1, min) {
		max-width: 180px;
	}

	@include mq($lg + 1, min) {
		max-width: 222px;
	}
}