///* ========================================================================
//   #404/403
//   ======================================================================== */
.error-404 {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	.error-right {
		max-width: 640px;

		h1 {
			@include clamp-font-size(32, 45);
			font-family: $font-second;
		}

		p {
			&:first-of-type {
				margin-bottom: 20px;
			}

			a {
				text-decoration: underline;

				@include hover {
					color: $pale-brown;
				}
			}
		}
	}

	.error-left {
		position: relative;
		max-width: 290px;
		width: 100%;
		display: flex;
		margin-right: 75px;

		&::after,
		&::before {
			content: '4';
			font-size: 180px;
			font-family: $font-highlight;
			position: relative;
			font-weight: 300;
		}

		&::after {
			margin-left: auto;
		}

		&::before {
			margin-right: auto;
		}

		img {
			position: absolute;
			left: 25%;
			top: 25%;
			z-index: 5;
		}
	}
}