.contact-form-block {
    padding-bottom: 100px;
    background-color: $gray;

    @include mq($md) {
        padding-bottom: 25px;
    }

    .contact-form-wrapper {
        display: flex;
        align-items: center;
        gap: 100px;

        @include mq($ipad) {
            gap: 0;
            flex-direction: column;
        }

        @include mq($md) {
            flex-direction: column;
            gap: 25px;
        }
    }

    .contact-form-right {
        max-width: 500px;
        width: 100%;
        border-radius: 100px;

        a {
            overflow: hidden;
            position: relative;
            display: block;
            border-radius: 100px;

            @include hover {
                img {
                    transform: scale(1.05);
                }
            }
        }

        img {
            border-radius: 100px;
            transform: scale(1);
            transition: $dur $ease;
            width: 100%;
        }
    }

    .contact-form-left {
        max-width: calc(100% - 500px);
        width: 100%;

        @include mq($ipad) {
            max-width: 100%;
            margin-bottom: 25px;
        }

        @include mq($md) {
            max-width: 100%;
        }

        &-top {
            margin-bottom: 36px;

            .contact-box {
                margin-bottom: 15px;
                border-radius: 20px;
                background-color: $white;
                padding: 15px 70px;
                display: flex;
                justify-content: space-between;

                @include mq($xl) {
                    flex-direction: column;
                    padding: 15px;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                a {
                    display: flex;
                    align-items: center;

                    @include hover {
                        color: $pale-brown;
                    }

                    span {
                        font-size: 24px;
                        margin-right: 15px;
                    }
                }
            }
        }

        .contact-form-inner {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            justify-content: space-between;

            @include mq($ipad) {
                flex-direction: column;
            }

            .contact-form-inner-left {
                @include mq($ipad) {
                    width: 100%;
                }

                label.mobile,
                textarea {
                    display: none;

                    @include mq($ipad) {
                        display: block;
                    }
                }
            }

            .contact-form-inner-right {
                @include mq($ipad) {
                    display: none;
                }
            }
        }
    }
}