.two-column-brands {
    padding: 48px 0 40px;
    background-color: $gray;

    @include mq($md) {
        padding: 25px 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 100px;

        @include mq($xl) {
            gap: 25px;
        }

        @include mq($md) {
            flex-direction: column;
            gap: 25px;
        }
    }

    &__content {
        max-width: 500px;
        width: 100%;

        @include mq($md) {
            max-width: 100%;    
        }

        .section-title {
            margin-bottom: 0;
            line-height: 4rem;
        }

        p {
            margin: 0 0 30px;
        }
    }

    &__logos {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        @include mq($md) {
            justify-content: center;
        }

        a {
            flex: 0 0 calc(19% - 15px);
            display: flex;
            align-items: center;

            @include mq($md) {
                flex: 0 0 calc(45% - 15px);
            }

            img {
                transform: scale(1);
                transition: $dur $ease;

                @include mq($md) {
                    margin: 0 auto;
                }
            }

            @include hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
}