.banner-title {
    padding: 75px 0;
    background-color: $white;

    &.gray {
        background-color: $gray;
    }

    @include mq($md) {
        padding: 25px 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq($md) {
            flex-direction: column;
        }
    }

    &__left,
    &__right {
        max-width: 50%;
        width: 100%;

        @include mq($md) {
            max-width: 100%;
        }
    }

    &__left {
        span {
            color: $pale-brown;
            font-size: 0.815rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-family: $font-highlight;

            &::before {
                content: '';
                width: 45px;
                height: 1px;
                background-color: $pale-brown;
                margin-right: 14px;
            }
        }
    }

    &__right {
        @include mq($md) {
            margin-top: 15px;
        }
        
        p {
            font-size: 1.25rem;
            font-family: $font-second;
            font-style: italic;
            max-width: 75%;
            width: 100%;

            @include mq($md) {
                max-width: 100%;
            }
        }
    }
}