/*--------------------------------------------------------------
# Woocommerce cart page
--------------------------------------------------------------*/
.cart {
    
    display: flex;
    align-items: center;
    grid-gap: 40px;

    @include mq($md) {
        display: block;
    }
    
}

.cart-page {
    padding: 45px 0 90px;

    @include mq($md) {
		padding: 17px 0 27px;
	}
}

.cart__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include mq($md) {
		display: block;
	}
}

.cart__form {
    max-width: 65%;
    flex: 0 0 65%;
    padding-right: 60px;

    @include mq($ipad) {
		max-width: 100%;
        flex: 0 0 100%;
        padding-right: 0;
        margin-bottom: 20px;
        overflow-x: auto;
        width: 100%;

        table {
            min-width: 150%;
        }
	}
}

.cart__collaterals {
    max-width: 35%;
    flex: 0 0 35%;

    @include mq($ipad) {
		max-width: 100%;
        flex: 0 0 100%;
	}
}

.cart__table {
    width: 100%;

    thead {
        tr {
            position: relative;
        }
    }
}

.cart__table th,
.cart__totals-title {
    padding: 8px 16px 8px 0;
    font-size: 12px;
    color: $black;
    text-align: left;
    font-weight: bold;

    &.cart__header-thumbnail {
        text-align: left;
        padding: 0 0 10px;
        color: $black;
        font-size: 1.17rem;
        font-weight: 700;
        font-family: $font-main;
    }
}

.cart__totals {
    // background-color: $snow;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: $white;
    margin-top: 30px;

    @include mq($md) {
		padding: 20px 15px;
	}

    .cart__order-checkout-btn {
        max-width: fit-content !important; //sass-lint:disable-line no-important
        margin-left: auto;

        .button {
            border: 1px solid $black;
            border-radius: 17px;
        }

        @include hover {
            .button {
                background-color: $white !important; //sass-lint:disable-line no-important
                color: $black;
                border-color: $black;
            }
        }

        @include mq($md) {
            max-width: 100% !important; //sass-lint:disable-line no-important
        }
    }

    .cart__totals-item,
    .cart__order-total {
        padding: 10px 0;
    }

    .amount {
        bdi {
            display: block;
            margin-left: auto;
            width: fit-content;
        }
    }
}

.cart__totals-title,
.cart__table .cart__header-subtotal {
    text-align: right;
    padding: 0 0 10px;
    color: $black;
    font-size: 1.17rem;
    font-weight: 700;
    font-family: $font-main;
}

.cart__header-subtotal {
    position: absolute;
    right: 0;
    bottom: 0;
}

.cart__item {
    border-bottom: 1px solid $gray;
    background-color: $white;
    position: relative;
    border-radius: 20px;

    td {
        padding-top: 20px;
        padding-bottom: 20px;
        vertical-align: middle;
        font-size: 14px;
    }

    &:first-of-type {
        td {
            &:first-of-type {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 0;
            }

            &.cart__subtotal {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 0;
            }
        }
    }

    &:last-of-type {
        border-bottom: none;

        td {
            &:first-of-type {
                border-top-left-radius: 0;
                border-bottom-left-radius: 10px;
            }

            &.cart__subtotal {
                border-top-right-radius: 0;
                border-bottom-right-radius: 10px;
            }
        }
    }
}

.cart__subtotal,
.cart__remove {
    padding: 20px;
}

// .cart__remove {
//     position: absolute;
//     top: 50%;
//     right: 125px;
//     transform: translateY(-50%);
// }

.cart__thumbnail {
    width: 120px;
    text-align: center;

    a {
        display: inline-block;
        border-radius: 4px;
        overflow: hidden;
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        transform: scale(1);
        transition: $dur $ease;
    }

    @include hover {
        img {
            transform: scale(1.05);
        }
    }

    @include mq($md) {
        img {
            width: 94px;
            height: 94px;
        }
    }

    @include mq($sm) {
        padding-right: 10px;
        width: 84px;
	}
}

.cart__product {
    padding-right: 20px;

    @include mq($md) {
        margin-bottom: 9px;
    }

    @include mq($sm) {
        padding-right: 10px;
    }
}

.cart__product-name {
    color: $black;
    @include clamp-font-size(14, 16);
    text-align: left;

    a {
        color: $black;

        @include hover {
            color: $pale-brown;
        }
    }
}

.cart__product-quantity {
    width: fit-content;

    .quantity {
        margin: 0;
    }
}

.cart__product-remove {
    text-align: center;

    a {
        @include clamp-font-size(14, 18);

        @include hover {
            color: $pale-brown;
        }
    }
}

.cart__subtotal {
    text-align: right;

    span {
        @include clamp-font-size(14, 16);
    }

     
    bdi {
        color: $black;
        justify-content: end;
    }
}

.cart__actions {
    text-align: right;
}

.cart__actions-update-btn {
    display: none;

    &:disabled {
        opacity: 0.5;
    }
}

.cart__totals-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;

    &:last-of-type {
        border-bottom: none;
        margin-bottom: 15px;

        span {
            &:last-of-type {
                font-size: 1.5rem;
            }
        }
    }

    span {
        @include clamp-font-size(14, 20);
        color: $black;

        &:last-of-type {
            font-weight: 900;
            font-family: $font-second;
        }
    }

    .woocommerce-remove-coupon {
        @include hover {
            color: $pale-brown;
        }
    }

    .includes_tax {
        display: none;
    }
}

.shop_table {
    .cart__totals-item {
        padding-right: 15px;
    }

    .checkout__totals-item,
    .shipping-label {
        display: flex;
        align-items: center;
        grid-gap: 5px;

        span {
            font-weight: 500;
        }
    }

    .shipping-price {
        font-family: $font-second;

        .woocommerce-Price-amount {
            @include clamp-font-size(14, 20);
        }
    }

    .checkout__totals-item {
        background-color: rgba($pale-brown, 0.6);
    }
}

.cart__order-total {
    span {
        @include clamp-font-size(18, 20);
        font-weight: 500;
    }
}

.cart__order-checkout-btn {
    .button {
        width: 100%;
        @include clamp-font-size(14, 16);
        text-align: center;
        background-color: $black;
        padding: 12px 25px;
        color: $white;
        display: block;
        text-transform: uppercase;
    }
}

.cart__add-more {
    margin-top: 20px;
}

.add-more-flavors {
    background-color: transparent;
    border: 2px solid $black;
    padding: 8px 14px;
    color: $black;
    text-transform: uppercase;
    transition: 350ms ease;
    border-radius: 46px;
    @include clamp-font-size(14, 16);
    font-family: $font-second;
    letter-spacing: 1.15px;
    line-height: 1;
    text-align: center;
    display: inline-block;

    @include hover {
        background-color: $black;
        color: $white;
    }
}

/*--------------------------------------------------------------
# Woocommerce mini cart
--------------------------------------------------------------*/
#mini-cart {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.3);
    z-index: 1000;
    top: 0;
    left: 0;
}

.mini-cart-wrap {
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    background: $white;
    padding: 15px;
    height: 100%;
    overflow-y: auto;

    @include mq($md) {
        width: 300px;
    }
}

.mini-cart-header {
    margin-bottom: 16px;
    border-bottom: 1px solid $white;
}

.mini-cart-header__title {
    font-weight: bold;
    @include clamp-font-size(16, 20);
    color: $black;
    padding-bottom: 16px;
    display: block;
}

.mini-cart-close {
    position: absolute;
    top: 13px;
    right: 9px;
    padding: 5px;
    cursor: pointer;

    span {
        @include clamp-font-size(20, 23);
        line-height: 1;
        color: $black;
        transition: $dur $ease;
    }

    @include hover {
        .font-close {
            color: $pale-brown;
        }
    }
}

.mini-cart-list__item {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $white;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.mini-cart-list__item-thumb {
    width: 60px;
    padding-right: 10px;
}

.mini-cart-list__item-info {
    flex: 1;
    padding-right: 10px;
}

.mini-cart-list__item-name {
    font-weight: bold;
    margin-bottom: 4px;
    line-height: 1.2;
    color: $black;
    overflow: hidden;

    img {
        transition: $dur $ease;
        transform: scale(1);
    }

    @include hover {
        color: $pale-brown;

        img {
            transform: scale(1.05);
        }
    }
}

.mini-cart-list__item-qty {
    margin-bottom: 4px;
    font-size: 15px;
    display: flex;
    color: $black;
}

.mini-cart-list__item-remove {
    a {
        text-decoration: underline;
        font-size: 12px;
        color: $black;

        @include hover {
            color: $pale-brown;
        }
    }
}

.mini-cart-total {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: $black;
    grid-gap: 10px;

    span {
        font-size: 18px;
        font-weight: bold;
        color: $black;
    }
}

.mini-cart-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-gap: 15px;

    a {
        padding: 14px 0;
        font-size: 14px;

        &:first-of-type {
            min-width: 160px;

            @include hover {
                color: $pale-brown;
            }

            @include mq($md) {
                padding: 10px 0;
            }
        }

        &:nth-of-type(2) {
            border: 1px solid $black;
            background-color: transparent;
            color: $black;
            min-width: 160px;
            text-align: center;

            @include hover {
                background-color: $black;
                color: $white;
            }
        }
    }

    @include mq($md) {
        flex-direction: column;
        align-items: normal;
    }

    @include mq($xs) {
        display: block;

        a {
            display: block;
            text-align: center;
            width: 100%;

            &:first-of-type {
                margin-bottom: 15px;
            }
        }
    }
}

// empty cart
.woocommerce-cart {
    background-color: $gray;

    .restore-item {
        @include hover {
            color: $white;
        }
    }

    .wc-empty-cart-message {
        margin-bottom: 30px;
    }

    .cart-empty {
        justify-content: center;
        @include clamp-font-size(18, 20);
        padding: 20px 10px;
        color: $black;
    }

    .return-to-shop {
        text-align: center;
    }

    .woocommerce-error {
        li {
            text-align: center;
            width: 100%;
            color: $black;
            line-height: 1.2;
        }
    }
}

// shipping info
.shipping-price-info__name {
    display: none;
}

.coupon {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 15px;

    @include mq($md) {
        flex-direction: column;
    }

    input[type='text'] {
        // background-color: $snow;
        padding: 14px 20px;
        margin-top: 0;
        border-radius: 10px;
        border: 1px solid $gray-light;
        background-color: $white;
        color: $black;

        @include mq($md) {
            padding: 10px 15px;
        }
    }

    .button {
        background-color: transparent;
        border: 1px solid $black;
        border-radius: 10px;
        padding: 13px 24px;
        color: $black;
        transition: $dur $ease;

        @include hover {
            background-color: $black;
            color: $white;
        }

        @include mq($md) {
            width: 100%;
            padding: 10px 20px;
            background-color: $black;
            color: $white;
        }
    }
}

.coupon-section {
    h3 {
        margin-bottom: 10px;
        color: $black;
        font-weight: 700;
    }
}

.coupon__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.coupon-form {
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
}