.product-item__img {
    .yith-add-to-wishlist-button-block {
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 10;
        width: 30px;
        height: 30px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-gap: 0;
            border-radius: 0;

            svg {
                transition: $dur $ease;

                .yith-wcwl-add-to-wishlist-button__label {
                    display: none;
                }

                @include hover {
                    fill: $black;
                }
            }
        }
    }
}

.shop_table.cart {
    display: table;

    .wishlist-empty {
        @include mq($md) {
            margin-top: 25px;
        }
    }
}

.woocommerce.yith-wcwl-form {
    thead {
        display: none;
    }

    tbody {
        tr {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .product-price {
                margin-left: auto;
            }
        }
    }

    .product-add-to-cart {
        display: flex;
        align-items: center;

        a {
            margin: 0;
            padding: 0;
            text-decoration: none;

            &.remove_from_wishlist {
                font-size: 0;

                &::after {
                    content: '\E00E';
                    font-family: 'fonticons';
                    font-size: 20px;
                }
            }

            &.ajax_add_to_cart {
                font-size: 0;
                
                &::after {
                    content: '\E004';
                    font-family: 'fonticons';
                    font-size: 20px;
                }
            }
        }
    }

    td {
        &.product-thumbnail {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-bottom: 0;
            }
        }
    }
}

.woocommerce {
    table.shop_table.wishlist_table tr {
        td {
            font-family: $font-second;

            a {
                text-decoration: none;
                color: $black;
                font-size: 1rem;

                @include hover {
                    color: $pale-brown !important; // sass-lint:disable-line no-important
                }
            }

            &.product-price {
                .woocommerce-Price-amount {
                    font-size: 25px;
                    font-family: $font-second;
                    color: $black;

                    .woocommerce-Price-currencySymbol {
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }
            }

            &.product-add-to-cart {
                padding-right: 0;

                a {
                    margin-bottom: 0 !important; // sass-lint:disable-line no-important

                    &.remove_from_wishlist {
                        padding-right: 0 !important; // sass-lint:disable-line no-important
                    }
                }
            }

            &.product-thumbnail {
                a {
                    overflow: hidden;

                    img {
                        transition: $dur $ease;
                        transform: scale(1);
                    }

                    @include hover {
                        img {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}