.brands {
    padding: 50px 0;
    background-color: $gray;

    @include mq($md) {
        padding: 25px 0;
    }

    &-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        @include mq($md) {
            justify-content: space-between;
        }
      
        a {
            flex: 1 1 calc(20% - 16px);
            max-width: calc(20% - 16px);
            margin-bottom: 50px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            filter: grayscale(1);

            @include mq($md) {
                flex: 1 1 calc(50% - 15px);
                max-width: 100%;
            }
      
            img {
                height: auto;
                display: block;
                transition: $dur $ease;
                position: relative;
                top: 0;
            }

            .subcategory-name {
                position: absolute;
                text-align: center;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                color: $white;
                font-family: $font-section-title;
                font-size: 40px;
                line-height: 20px;
                width: 100%;
            }

            @include hover {
                filter: grayscale(0);
            }
        }
    }  
}

.page-template-destilerije-archive {
    .site-header {
        background-color: $gray;
    }

    .banner-title {
        background-color: $gray;
    }
}