/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn,
input[type='submit'] {
	@include clamp-font-size(13, 15);
	font-family: $font-main;
	background-color: $black;
	color: $white;
	padding: 12px 25px;
	transition: $dur $ease;
	font-weight: 700;
	text-transform: uppercase;
	min-width: 200px;
	text-align: center;
	display: inline-block;

	@include hover {
		background-color: $white;
		color: $black;
	}
}