/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn,
input[type='submit'] {
	@include clamp-font-size(13, 15);
	font-family: $font-main;
	background-color: $black;
	color: $white;
	padding: 10px 18px;
	transition: $dur $ease;
	text-align: center;
	display: inline-block;
	border-radius: 18px;
	border: none;

	@include mq($md) {
		margin: 0 auto;
		display: block;
	}

	@include hover {
		background-color: $pale-brown;
		color: $white;
	}
}

.btn-icon {
	background-color: $black;
	border-radius: 15px;
	border: 1px solid $black;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 6px 17px;
	color: $white;
	font-size: 16px;
	max-width: fit-content;
	width: 100%;

	span {
		color: $white;
		transition: $dur $ease;
		margin-right: 10px;
	}

	&:hover {
		background-color: $white;
		color: $black;

		span {
			color: $black;
		}
	}

	&__center {
		margin: 0 auto;
	}

	&__white {
		background-color: $white;
		color: $black;

		span {
			color: $black;
		}

		&:hover {
			background-color: $black;
			color: $white;

			span {
				color: $white;
			}
		}
	}

	&__reverse {
		flex-direction: row-reverse;

		span {
			margin-right: 0;
			margin-left: 10px;
		}
	}

	&__gray {
		background-color: $gray;
	}
}