.hero {
    background-color: $gray;
    padding-bottom: 100px;

    @include mq($xxl) {
        padding-bottom: 50px;
    }

    @include mq($md) {
        padding-bottom: 25px;
    }
}

.banner__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 83px;
    margin-bottom: 30px;

    @include mq($lg) {
        flex-direction: column;
        gap: 25px;
    }

    .hero__right {
        max-width: 520px;
        width: 100%;
    }
}

.hero__images {
    display: flex;
    margin-top: 64px;

    @include mq($md) {
        flex-direction: column;
    }

    img {
        border-radius: 22px;
    }

    .hero__right {
        max-width: 516px;
        transform: translate(-22px, -20px);
        overflow: hidden;
        padding-bottom: 30px;

        @include mq($md) {
            transform: translate(0, 0);
            margin-top: 15px;
            overflow: visible;
        }

        .swiper {
            overflow: visible;
        }

        .swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: -30px;

            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                background-color: $pale-brown;
                border-radius: 50%;
                transition: $dur $ease;
                margin: 0 5px;
                cursor: pointer;
                opacity: 1;

                &.swiper-pagination-bullet-active {
                    width: 30px;
                    background-color: $black;
                    border-radius: 10px;
                }
            }
        }

        .add-to-cart-btn {
            position: absolute;
            bottom: 0;
            right: 25px;
            border: 2px solid rgba($pale-brown, 0.3);
            border-radius: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;

            @include hover {
                background-color: rgba($pale-brown, 1);

                span {
                    color: $white;
                }
            }
        }
    }
}

.hero__title {
    font-family: $font-section-title;
    font-size: 139px;
    text-transform: uppercase;
    line-height: 0.65;

    @include mq($md) {
        font-size: 60px;
    }
}

.hero__subtitle {
    font-family: $font-second;
    @include clamp-font-size(16, 20);
    font-style: italic;
}

.hero__highlight {
    position: relative;
    padding-left: 60px;
    font-family: $font-highlight;
    font-size: 14px;
    color: $pale-brown;
    display: block;
    margin-top: 6px;

    @include mq($md) {
        margin-top: 0;
        padding-left: 35px;
        font-size: 12px;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 44px;
        height: 1px;
        background-color: $pale-brown;

        @include mq($md) {
            width: 20px;
        }
    }
}

.hero-image__left-main {
    position: relative;
}

.hero-image__right {
    position: relative;

    @include mq($md) {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 115px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: $yellow-light;
        border-radius: 20px;
        width: 100%;
        height: 370px;
        z-index: 1;

        @include mq($md) {
            height: 250px;
            width: 100%;
            left: auto;
            right: 0;
            display: none;
        }
    }

    img {
        width: auto;
        margin: 35px auto 0;
        position: relative;
        z-index: 5;

        @include mq($md) {
            margin: 0 auto;
            max-width: 50%;
        }
    }

    &-image {
        @include mq($md) {
            position: relative;
            max-width: 65%;
            width: 100%;

            &::after {
                content: '';
                position: absolute;
                top: -50px;
                background-color: $yellow-light;
                opacity: 0.9;
                border-radius: 10px;
                z-index: 1;
                height: 250px;
                width: 100%;
                right: 0;
            }
        }
    }
}

.hero-image__left-logo {
    position: absolute;
    left: 5%;
    top: 5%;
    display: none;
}

.hero-image__left-text {
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-size: 48px;
    line-height: 1.39;
    color: $white;
    font-family: $font-second;
    font-style: italic;
    display: none;

    @include mq($md) {
        font-size: 28px;
    }
}

.hero-image__right-info {
    transform: translateX(20px);
    padding-left: 30px;
    margin-bottom: 25px;

    @include mq($md) {
        padding-left: 0;
        transform: translateX(0);
        margin-top: auto;
        position: absolute;
        bottom: 25px;
        left: 0;
        width: 100%;
        padding-left: 15px;
    }
}

.hero-image__right-info-price {
    @include clamp-font-size(20, 20);
    font-family: $font-second;
    font-style: normal;
    display: block;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;

    @include mq($md) {
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 1px;
        background-color: $black;
    }
}

.hero-image__right-info-distillery {
    span {
        font-size: 14px;
        color: $pale-brown;
        display: block;
        font-family: $font-highlight;
        margin-bottom: 5px;
    }
}

.hero-image__right-info-product-name {
    font-size: 18px;
    font-family: $font-second;
    line-height: 1.05;
    font-style: normal;
    margin-bottom: 5px;

    @include mq($md) {
        font-size: 14px;
    }
}

.hero-image__right-info-product-size {
    span {
        font-family: $font-second;
        font-style: italic;
        font-weight: 600;
        line-height: 1.3;
    }
}