/*--------------------------------------------------------------
## Main Variables
--------------------------------------------------------------*/
// Fonts
$font-default-serif: 'Platypi';
$font-default-sans-serif: 'Josefin Sans';
$font-section-title: 'Jomhuria';
$font-highlight: 'Roboto Mono';

$font-main: $font-default-sans-serif;
$font-second: $font-default-serif;
$font-section-title: $font-section-title;
$font-highlight: $font-highlight;

$site-fonts: (
	'font-main': $font-main,
	'font-second': $font-second,
) !default;

// Colors
$white: 		#fff;
$black: 		#000;
$pale-brown: 	#997249;
$gray: 			#f5f5f5;
$gray-dark: 	#3e3e3e;
$red: 			#db332a;
$yellow-light: 	#f6f0db;
$yellow: 		#eac50b;
$green: 		#cce0a5;
$green-dark: 	#687a47;

$site-colors: (
	'white': $white,
	'black': $black,
	'pale-brown': $pale-brown,
	'gray': $gray,
	'gray-dark': $gray-dark,
	'red': $red,
	'yellow-light': $yellow-light,
	'yellow': $yellow,
	'green': $green,
	'green-dark': $green-dark,
) !default;

// Transitions
$dur: 350ms;
$ease: ease;

// Container
$container-width: 1330px;

/*--------------------------------------------------------------
## Breakpoint Variables
--------------------------------------------------------------*/
$xs: 	400px;
$smx: 	500px;
$sm: 	575px;
$md: 	767px;
$lg: 	991px;
$ipad: 	1024px;
$xl: 	1199px;
$xxl: 	1399px;
$mac: 	1440px;
$xxxl: 	1599px;
