.image-block {
    padding: 50px 0 25px;
    background-color: $gray;
    
    &__wrapper {
        border-radius: 40px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 460px;
        padding: 0 65px;

        @include mq($md) {
            flex-direction: column;
            padding: 25px 0;
        }

        &-left {
            filter: grayscale(1);

            @include mq($md) {
                max-width: 90%;
                margin: 0 auto;
            }
        }
    }
}